<style>
  h1 {
    color: red;
    font-size: 51px;
  }
  #div1{
    background-color: aqua;
    height: auto;
    width: 350px;
  }
  #div2 {
    background-color: darkgreen;
    height: 70px;
    width: 350px;
  }
</style>

<div id="div1">
  <div id="div2">
    <h1>Employee list</h1></div>
  <ul *ngIf="data$ | async as data; else empty">
    <li *ngFor="let employee of data">{{ employee.personalNumber}}: {{ employee.name }}: {{ employee.mail }}<button (click)="remove(employee.personalNumber)">Remove me</button></li>
  </ul>

  <ng-template #empty> There is no data </ng-template>
</div>
